@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-pa: 2rem;
    --btn-color: #2F65F9;
    --text-white: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
nav {
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-pa);
    margin-bottom: 5rem;
}
nav a {
    text-decoration: none;
    margin-left: 2rem;
}
.card-one {
    padding: var(--main-pa);
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
}
h1 {
    margin-bottom: 1rem;
    font-size: 3.25vw;
}
.section-one p {
    margin-bottom: 1rem;
}
.email {
    border-radius: 0.25rem;
    border: 0.1rem solid gray;
    padding: 0.4rem 7rem 0.4rem 1rem ;
    margin-right: 0.5rem;
}
.submit {
    border-radius: 0.25rem;
    padding: 0.4rem 2.5rem;
    border: 0.1rem solid #2F65F9;
}
.submit {
    background-color: var(--btn-color);
    color: var(--text-white);
}
.card-img {
    width: 45%;
}
.curve-border {
    width: 100%;
    display: block;
}
.section-two>p {
    margin-bottom: 1rem;
}
.card-two-details {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #F8F8FE;
    padding: var(--main-pa);
}
.link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 0.125rem solid #3DA08F;
    
}
.link a {
    color: #3DA08F;
    text-decoration: none;
}
.kyle-card {
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0 4rem 0;
    box-shadow: 0 0 0.2rem gray;
}
.kyle-card>p {
    margin: 1rem 0;
}
.kyle-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.kyle-details img {
    width: 3rem;
    border-radius: 2rem;
}
.card-there {
    background-color: #575989;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    gap: 20%;
}
.card-there-details {
    width: 50%;
}
.card-there-details h2 {
    margin-bottom: 1rem;
}
.card-there-sub input {
    display: block;
    border-radius: 0.25rem;
}
.email-sub {
    padding: 0.4rem 8rem 0.4rem 1rem;
    border: 0.1rem solid #FFFFFF;
    margin-bottom: 0.5rem;
} 
.submit-sub {
    padding: 0.4rem 1rem;
    background-color: #2F65F9;
    border: 0.1rem solid #2F65F9;
    color: #FFFFFF;
}
footer {
    background-color: #07043B;
    color: #FFFFFF;
    padding: 3rem 2rem;
}
.footer-logo {
    margin-bottom: 1rem;
}
.footer-details {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.footer-contact div {
    display: flex;
    gap: 0.5rem;
}
.contact-one {
    margin-bottom: 1rem;
}
.footer-link {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}
.footer-link a {
    text-decoration: none;
    color: #FFFFFF;
}

.frontend-mentor {
    text-align: center;
    margin-top: 2.5rem;
}
.frontend-mentor a {
    color: #FFFFFF;
    font-size: 1.25rem;
}




